@font-face {
  font-family: 'Lab Grotescue';
  src: url('../fonts/LabGrotesque/400.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Lab Grotescue Medium';
  src: url('../fonts/LabGrotesque/500.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Lab Grotescue Bold';
  src: url('../fonts/LabGrotesque/700.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Lab Grotescue Black';
  src: url('../fonts/LabGrotesque/900.ttf') format('truetype');
  font-weight: 900;
}
